<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: DodgerBlue;}
h1   {color: MediumSeanGreen;}
p    {color: red;}
</style>
<meta charset="UTF-8">
<title>Psiber Tax Calculator</title>
</head>
<body>
	<div align="center">
		<h1>PSiber Tax Calculator</h1>
		<form method="post" action="calculateTax">
			<input type="hidden" id="year" value="2018" /> Please select Tax
			Year End <select id="yearsel" class="wide"
				onchange="document.getElementById('year').value=this.value">
				<option value="2018">2018 (Mar 2017 - Feb 2018)</option>
				<option value="2017">2017 (Mar 2016 - Feb 2017)</option>
			</select> <br> Please select Period to calculate? <select id="period"
				class="wide">
				<option value="monthly" selected>Monthly</option>
				<option value="yearly">Yearly</option>
			</select> <br> Please enter your Gross Income <input type="text"
				class="wide" maxlength="10" id="gross" value="20000"
				onkeyup="this.value=this.value.replace(/[^1234567890.]/g, '');" />

			<br> Please select your Age group? <select id="age">
				<option value="60">Under 65</option>
				<option value="70">65 - 75</option>
				<option value="80">Over 75</option>
			</select> <br>
			<button>Calculate</button>
		</form>

	</div>
</body>
</html>