<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div style="max-width:630px;overflow:hidden;">

	<div class="calc-header"><b>Psiber Tax Calculation Application</b></div>
	<div class="calc-box">

		<div class="row">
			<input type="hidden" id="year" value="2018" />
			Please select Tax ear End
			<select id="yearsel" class="wide" onchange="document.getElementById('year').value=this.value">
						<option value="2018">2018 (Mar 2017 - Feb 2018)</option>
						<option value="2017">2017 (Mar 2016 - Feb 2017)</option>
						</select>
			<div class="dot" style="visibility:hidden;">?</div>		</div>

		<div class="row">
			Please enter your Gross Income
			<input type="text" class="wide" maxlength="10" id="gross" value="20000" onkeyup="this.value=this.value.replace(/[^1234567890.]/g, '');" />
			<div class="dot">?<span class="dottext">Enter every amount recieved from your employer including benefits payment.</span></div>		</div>

		<div class="row">
			Please select Period to calculate?
			<select id="period" class="wide">
			<option value="monthly" selected>Monthly</option>
			<option value="yearly">Yearly</option>
			</select>
			<div class="dot" style="visibility:hidden;">?</div>		</div>

	</div>

	


	<div style="padding:1em 0 0 0;text-align:right;">
		Age group?

		
			<select id="age">
			<option value="60">Under 65</option>
			<option value="70">65 - 75</option>
			<option value="80">Over 75</option>
			</select>

		
	</div>


</body>
</html>
